[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Laché Melvin
	email = 55115239+lache-melvin@users.noreply.github.com
[color]
	ui = auto
[merge]
	conflictstyle = diff3
[core]
	editor = nvim
  ignorecase = false
[credential]
	helper = cache
[pull]
	rebase = true
[init]
	defaultBranch = main
